@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&family=Raleway:wght@400;600&display=swap');

#background-img{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main-text{
    font-family: 'Poppins', sans-serif;
    color: #124265;
    font-weight: 700;
    text-align: center !important;
    font-size: 60px;
    line-height: 80px;
}
.sub-main-text{
    color: #5e5e5e;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center !important;
    font-size: 20px;
    font-weight:600;
}
.abcd{
    margin-bottom: 20px;
    padding-top: 10px;
    color: #2487ce;
    font-size: 36px;
    line-height:1;
}
.abcd2{
    line-height: 2;
    color: #2487ce;
    font-size: 10px;
}
.my-first-card{
    color: #124265;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.my-first-card-text{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.abouth2{
    color: #124265;
    font-weight: bold;
}
.aboutp{
    color: #919191;

}
ul{
    list-style-type: none;
}
.my-logo-image{
    height:50%;
    width: 50%;
    transition: 500ms;
    filter: grayscale(100);
}
.my-logo-image:hover{
    filter: none;
    transform: scale(1.1);
}
.cta-btn{
    border-color: #fff;
    background-color: #2487ce;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.cta-btn:hover{
   border-color: #2487ce;
   background-color: #fff;
   color: #2487ce;
   font-family: 'Raleway', sans-serif;
}
.team-member-image{
    height: 100%;
    width: 100%;
}
.mem-name{
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #124265;
}
.mem-detail{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}
.logo-image-my{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    filter: grayscale(100);
}
.team-logo-ig{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    display:none;
    background-color: #fff;
    padding-bottom: 10px;
}
.team-image:hover .team-logo-ig{
    display: flex;
    align-items: flex-end;
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.5);
}
/* .team-logo-ig:hover{
    background-color:black;
} */

.logo-image-my:hover{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    filter: none;
}
.price-box ul li{
    padding-bottom: 16px;
    color:#124265 ;
    list-style: none;
}
.price-box ul .na{
    color: #ccc;
    text-decoration: line-through;
}
.price-box h4{
    font-size: 42px;
    color: #2487ce;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.price-box h4 span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.price-box h3{
    padding: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: #124265;
}
.buy-button:hover{
     color: #fff !important;
    background-color:#2487ce;
    border-width: 2px;
    font-weight: bold;
}
.price-box-2 ul li{
    padding-bottom: 16px;
    color:#fff ;
    list-style: none;
}
.price-box-2 ul .na{
    color: #fff;
    text-decoration: line-through;
}
.price-box-2 h4{
    font-size: 42px;
    color: #fff;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.price-box-2 h4 span{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.price-box-2 h3{
    padding: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.buy-button-2:hover{
    color: #fff !important;
   background-color:#2487ce;
   border-width: 2px;
   font-weight: bold;
}
.accordion-button{
    color: #2487ce;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.jkl{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}
.mdn{
    font-size: 16px;
    font-weight: bold;
    color: #124265;
    position: relative;
    padding-bottom: 12px;
}
.logo-image-my-footer{
    width: 25px;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
}
.contacth4{
    font-size: 22px;
    font-weight: 600;
    color: #124265;
    font-family: 'Raleway', sans-serif;
}
.contactp{
    font-size: 14px;
    color: #217bbc;
    font-family: 'Open-sans', sans-serif;
}
.fa-phone, .fa-envelope, .fa-map{
    color: #2487ce;
}
.icon-div{
    height: 44px;
    width: 44px;
    background: #e3f0fa;
    border-radius: 5px;
}

.icon{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100px;
    width: 100px;
}
.icon svg{
    position: absolute;
    top:0;
    left:0;
}
.icon i{
    font-size:36px;
    position: relative;
}
/* .service-card:hover .icon svg path{
    fill: orange;
} */
.service-card:hover .icon i{
    color:white;
}
.service-card{
    border: 0 !important;
    box-shadow:0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.service-card:hover{
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}
.service-card:hover .fa-tachometer{
    color:#fff !important;
}
.service-card:hover .icon svg path {
    fill: #47aeff;
}
.service-card:hover .fa-file{
    color: #fff !important;
}
.service-card:hover .icon svg .path-file{
    fill: #ffa76e;
}
.arrow_box {
	position: relative;
	background: #f3f9fd;
	border: 4px solid #f3f9fd;
    padding: 10px ;
    border-radius:10px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #f3f9fd;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #f3f9fd;
	border-width: 21px;
	margin-left: -21px;
}
.test-image{
    width: 90px !important;
    height: 90px;
    border-radius: 50%;
}
.test-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.quote-icon{
    font-size: 26px;
    color:#c9e3f5;
}
.arrow_box p{
    font-style: italic;
    line-height: 25px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #2487ce!important;
}
.owl-nav{
    display: none !important;
}